{% extends 'interfaces/base.html' %}

{% block subtitle %}Add peer to {{ iface.host }}@{{ iface.name }}{% endblock %}

{% block content %}


{% from 'lib.html' import search_form_macro %}
{{ search_form_macro(search_form) }}

<table class="double">
<thead>
  <tr>
    <th>Name</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
{% for iface in ifaces %}
  <tr>
    <td>{{ iface }}</td>
    <td>
      <form method="post">
        <input type="hidden" name="peer" value="{{ iface.id }}">
        <input type="submit" value="Add as peer">
      </form>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      {% for addr in iface.address %}
        {{ addr.address }},
      {% else %}
        <i>No Addresses configured</i>
      {% endfor %}
    </td>
  </tr>
{% else %}
  <tr>
    <td colspan="2"><i>No Interfaces available</i></td>
  </tr>
{% endfor %}
</tbody>
</table>


{% endblock %}
