{% extends 'interfaces/base.html' %}

{% block subtitle %}Edit {{ iface }}{% endblock %}

{% block content %}
<h3>Download config</h3>
<a href="#">wg-quick</a> |
<a href="#">systemd-networkd</a> |
<a href="#">NetworkManager</a>

<hr>
<h3>Info</h3>
<form id="interfaceUpdate" method="post">
  <label for="host">Host</label>
  <input type="text" name="host" placeholder="computer.example.com" required value="{{ iface.host if iface.host }}">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{ iface.name }}" required>
  <label for="description">Description</label>
  <input type="text" name="description" value="{{ iface.description if iface.description }}">
  <label for="publicKey">PublicKey</label>
  <input type="text" name="publicKey" value="{{ iface.public_key }}" readonly>

  <input type="hidden" name="action" value="update">

  <input type="submit" value="Update Interface">
</form>

<hr>
<h3>Addresses</h3>
<table>
<thead>
  <tr>
    <th>Address</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
{% for addr in iface.address %}
  <tr>
    <td>{{ addr.address }}</td>
    <td>
      <form id="addressDelete" method="post" onsubmit="return confirm('Are you sure you want to delete?');">
        <input type="hidden" name="action" value="deleteAddress">
        <input type="hidden" name="id" value="{{ addr.id }}">
        <input type="button" class="basis_auto" value="Edit">
        <input type="submit" class="basis_auto" value="Delete">
      </form>
    </td>
  </tr>
{% else %}
  <tr>
    <td colspan="2">
      <i>No Addresses configured</i>
    </td>
  </tr>
{% endfor %}
</tbody>
</table>

<h4>Add address to the interface</h4>

<form method="post">
  <form id="addressAdd" method="post">
    <input type="hidden" name="action" value="addAddress">
    <label>Address</label>
    <input type="text" name="address" placeholder="192.168.0.1/24 or fe80::1/64">
    <input type="submit" value="Add">
  </form>
</form>

<hr>
<h3>Fully linked peers</h3>

<table class="double">
<thead>
  <tr>
    <th>Host</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for peer in iface.fully_linked_peers %}
    <tr>
      <td colspan="2">{{ peer.slave }}</td>
    </tr>
    <tr>
      <td colspan="1">
        {% for addr in peer.allowed_ips %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <form class="basis_auto" action="{{ url_for('interfaces.edit', id=peer.slave.id) }}">
          <input type="submit" value="Show Interface" >
        </form>
        <form class="basis_auto" id="peerDelete" method="post" onsubmit="return confirm('Are you sure you want to delete peer {{ peer }}?');">
          <input type="hidden" name="action" value="deletePeer">
          <input type="hidden" name="peer" value="{{ peer.id }}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="2"><i>No peers configured</i></td>
    </tr>
  {% endfor %}
</tbody>
</table>
<form action="{{ url_for('interfaces.add_peer', id=iface.id) }}">
  <input type="submit" value="Add peer">
</form>


<h3>Half linked peers</h3>
<h4>Outgoing links</h4>
<table class="double">
<thead>
  <tr>
    <th>Host</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for peer in iface.outgoing_peers %}
    <tr>
      <td colspan="2">{{ peer.slave }}</td>
    </tr>
    <tr>
      <td colspan="1">
        {% for addr in peer.allowed_ips %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <form class="basis_auto" action="{{ url_for('interfaces.edit', id=peer.slave.id) }}">
          <input type="submit" value="Show Interface" >
        </form>
        <form class="basis_auto" id="peerDelete" method="post" onsubmit="return confirm('Are you sure you want to delete peer {{ peer }}?');">
          <input type="hidden" name="action" value="deletePeer">
          <input type="hidden" name="peer" value="{{ peer.id }}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="2"><i>No peers configured</i></td>
    </tr>
  {% endfor %}
</tbody>
</table>

<h4>Incoming links</h4>
<table class="double">
<thead>
  <tr>
    <th>Host</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for peer in iface.incoming_peers %}
    <tr>
      <td colspan="2">{{ peer.master }}</td>
    </tr>
    <tr>
      <td colspan="1">
        {% for addr in peer.allowed_ips %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <form class="basis_auto" action="{{ url_for('interfaces.edit', id=peer.master.id) }}">
          <input type="submit" value="Show Interface" >
        </form>
        <form class="basis_auto" method="post" action="{{ url_for('interfaces.add_peer', id=iface.id) }}">
          <input type="hidden" name="peer" value="{{ peer.master.id }}">
          <input type="submit" value="Add as my peer" >
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="2"><i>No peers configured</i></td>
    </tr>
  {% endfor %}
</tbody>
</table>

<hr>
  <h3>Delete interface {{ iface }}?</h3>
<form id="interfaceDelete" method="post" onsubmit="return confirm('Are you sure you want to delete interface {{ iface }}?');">
  <input type="hidden" name="action" value="delete">
  <input type="submit" value="Delete">
</form>

{% endblock %}
