{% extends 'interfaces/base.html' %}

{% block subtitle %}Edit {{ iface }}{% endblock %}

{% block content %}


<a href="{{ url_for("interfaces.edit", id=iface.id) }}">Info</a> |
<a href="{{ url_for("interfaces.addresses", id=iface.id) }}">Addresses</a> |
<a href="{{ url_for("interfaces.peers", id=iface.id) }}">Peers</a> |
<a href="{{ url_for("interfaces.delete", id=iface.id) }}">Delete</a>

<hr>
{% block form %}{% endblock %}

<hr>
<h3>Download config</h3>
<a href="#">wg-quick</a> |
<a href="#">systemd-networkd</a> |
<a href="#">NetworkManager</a>
{% endblock %}
