{% extends 'interfaces/base.html' %}

{% block subtitle %}List{% endblock %}

{% block content %}
<table class="double">
<thead>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Peers</th>
  </tr>
</thead>
<tbody>
  {% for interface in ifaces %}
    <tr>
      <td>{{ interface }}</td>
      <td>arti</td>
      <td>0/0</td>
    </tr>
    <tr>
      <td colspan="2">
        {% for addr in interface.address %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <a href="{{ url_for('interfaces.edit', id=interface.id) }}">Edit</a>
      </td>
    </tr>
  {% endfor %}
</tbody>
</table>
{% endblock %}
