{% extends 'interfaces/edit.html' %}
{% from "lib.html" import render_form_field %}
{% block form %}
<h3>Info</h3>
<form id="interfaceUpdate" method="post">
  {{ info_form.hidden_tag() }}
  {{ render_form_field(info_form.enabled) }}
  {{ render_form_field(info_form.host) }}
  {{ render_form_field(info_form.name) }}
  {{ render_form_field(info_form.description) }}
  {{ render_form_field(info_form.public_key, readonly=True) }}
  {{ render_form_field(info_form.persistent_keepalive) }}
  {{ render_form_field(info_form.linkable) }}
  {{ render_form_field(info_form.listen_port) }}
  {{ render_form_field(info_form.endpoint) }}
  <input type="submit" value="Update Interface">
</form>

{% endblock form %}
