{% extends 'interfaces/edit.html' %}

{% block form %}
<h3>Info</h3>
<form id="interfaceUpdate" method="post">
  <label for="host">Host</label>
  <input type="text" name="host" placeholder="computer.example.com" value="{{ iface.host if iface.host }}">
  <label for="name">Name</label>
  <input type="text" name="name" value="{{ iface.name }}" required>
  <label for="description">Description</label>
  <input type="text" name="description" value="{{ iface.description if iface.description }}">
  <label for="publicKey">PublicKey</label>
  <input type="text" name="publicKey" value="{{ iface.public_key }}" readonly>

  <input type="submit" value="Update Interface">
</form>

{% endblock form %}
