{% extends 'interfaces/edit.html' %}

{% block form %}
<h3>Fully linked peers</h3>

<table class="double">
<thead>
  <tr>
    <th>Host</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for peer in iface.fully_linked_peers %}
    <tr>
      <td colspan="2">{{ peer.slave }}</td>
    </tr>
    <tr>
      <td colspan="1">
        {% for addr in peer.slave.allowed_ips %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <form class="basis_auto" action="{{ url_for('interfaces.peers', id=peer.slave.id) }}">
          <input type="submit" value="Show Interface" >
        </form>
        <form class="basis_auto" id="peerDelete" method="post" onsubmit="return confirm('Are you sure you want to delete peer {{ peer }}?');">
          <input type="hidden" name="action" value="deletePeer">
          <input type="hidden" name="peer" value="{{ peer.id }}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="2"><i>No peers configured</i></td>
    </tr>
  {% endfor %}
</tbody>
</table>
<form action="{{ url_for('interfaces.add_peer', id=iface.id) }}">
  <input type="submit" value="Add peer">
</form>


<h3>Half linked peers</h3>
<h4>Outgoing links</h4>
<table class="double">
<thead>
  <tr>
    <th>Host</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for peer in iface.outgoing_peers %}
    <tr>
      <td colspan="2">{{ peer.slave }}</td>
    </tr>
    <tr>
      <td colspan="1">
        {% for addr in peer.slave.allowed_ips %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <form class="basis_auto" action="{{ url_for('interfaces.peers', id=peer.slave.id) }}">
          <input type="submit" value="Show Interface" >
        </form>
        <form class="basis_auto" id="peerDelete" method="post" onsubmit="return confirm('Are you sure you want to delete peer {{ peer }}?');">
          <input type="hidden" name="action" value="deletePeer">
          <input type="hidden" name="peer" value="{{ peer.id }}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="2"><i>No peers configured</i></td>
    </tr>
  {% endfor %}
</tbody>
</table>

<h4>Incoming links</h4>
<table class="double">
<thead>
  <tr>
    <th>Host</th>
    <th>Action</th>
  </tr>
</thead>
<tbody>
  {% for peer in iface.incoming_peers %}
    <tr>
      <td colspan="2">{{ peer.master }}</td>
    </tr>
    <tr>
      <td colspan="1">
        {% for addr in peer.master.allowed_ips %}
          {{ addr.address }},
        {% else %}
          <i>No Addresses configured</i>
        {% endfor %}
      </td>
      <td>
        <form class="basis_auto" action="{{ url_for('interfaces.peers', id=peer.master.id) }}">
          <input type="submit" value="Show Interface" >
        </form>
        <form class="basis_auto" method="post" action="{{ url_for('interfaces.add_peer', id=iface.id) }}">
          <input type="hidden" name="peer" value="{{ peer.master.id }}">
          <input type="submit" value="Add as my peer" >
        </form>
      </td>
    </tr>
  {% else %}
    <tr>
      <td colspan="2"><i>No peers configured</i></td>
    </tr>
  {% endfor %}
</tbody>
</table>

{% endblock form %}
